	<div id="colB">
		<div class="boxedB">
			<h2>Inicio</h2>
			<ul>
                          <li><%= link_to Article::Section::TALLERES_MEMORIA, article_path(Article::Section::TALLERES_MEMORIA, :menu => 'home') %></li>
			  <li><%= link_to Article::Section::EST_NEUROPSICOTICOS, article_path(Article::Section::EST_NEUROPSICOTICOS, :menu => 'home') %></li>
			  <li><%= link_to Article::Section::ESTIMULACION_DEMENCIAS, article_path(Article::Section::ESTIMULACION_DEMENCIAS, :menu => 'home') %></li>
                          <li><%= link_to Article::Section::PSICOLOGIA_CLINICA, article_path(Article::Section::PSICOLOGIA_CLINICA, :menu => 'home') %></li>
			  <li><%= link_to Article::Section::YOGA, article_path(Article::Section::YOGA, :menu => 'home') %></li>
                          <li><%= link_to 'Artículos relacionados', { :controller => 'home', :action => 'public_reference_materials' } %></li>
			</ul>
    </div>
  </div>
