%h1 Administración del sitio
%br
%p
  = link_to 'Articles', admin_articles_path
%p
  = link_to 'Categorias', admin_categories_path
%p
  = link_to 'Comentarios', admin_comments_path
%p
  = link_to 'Pictures', admin_pictures_path
%p
  = link_to 'Usuarios', admin_users_path
%p
  = link_to 'Materiales de referencia', admin_reference_materials_path
%p
  = link_to 'Galeria', admin_group_pictures_path
