<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Talleres de Memoria / Grupoeres</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/stylesheets/application.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="wrapper">
<div id="menu">
	<ul>
    <li class='first'><%= link_to "Inicio", root_path, :id => "menu1", :accesskey => "1", :title => "" %></li>
    <li><%= link_to "Talleres", groups_path, :id => "menu2", :accesskey => "2", :title => "" %></li>
    <li><%= link_to "Materiales", reference_materials_path, :id => "menu3", :accesskey => "3", :title => "" %></li>
		<li><%= link_to "Acerca de", about_us_path, :id => "menu4", :accesskey => "4", :title => "" %></li>
		<li><%= link_to "Contacto", contact_us_path, :id => "menu5", :accesskey => "5", :title => "" %></li>
	</ul>
</div>
<div id="logo">
        <center style='position:relative; top: -130px'>
          <%= image_tag 'grupoeres2.jpg' %>
        </center>
      </div>
      <div id="content">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td style='vertical-align: top;'>
              <%= render :partial => 'menu' unless controller_name == 'sessions' %>
            </td>
            <td id="colA">
              <div class='nav1'>
                <ul>
                  <li><%= link_to("Ingresar", login_path) unless logged_in? %></li>
                  <li><%= link_to("Salir", logout_path) if logged_in? %></li>
                </ul>
              </div>
              <%= yield  %>
            </td>
          </tr>
        </table>
  </div>
  
</div>
<div id="footer">
	<p>Copyright &copy; 2007 Enter. Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
</div>
</body>
</html>
